@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/* Nav Component Styles */
.nav {
  @apply fixed top-0 left-0 right-0
        bg-background text-primaryText py-6
        flex items-center justify-between;
}
.li-nav {
  @apply text-primaryText font-secondary mx-2 tracking-wider
          block md:inline mt-4 md:mt-0;
}


/* Home Component Styles */
.bg-custom {
  background-image: url('../src/assets/images/WarWithinbg.jpeg');
  background-size: cover;
  background-position: center
}
/* Search Component Styles */
.label {
  @apply text-primaryText md:text-2xl
          font-secondary my-2;
}
.input {
  @apply bg-white font-secondary
        px-4 py-1 md:py-2 rounded-lg mx-2 my-1;
}


/* Ladder component styles */
.data-grid {
  @apply mx-4 my-2 border-solid border-2 border-accent w-auto; 

}
.button {
  @apply bg-accent text-primaryText text-sm md:text-lg
          font-primary px-6 py-2 rounded-lg mx-4;
}


/* Footer Component Styles */
.footer {
  @apply bg-background text-primaryText text-center py-4
          bottom-0 left-0 right-0;
}

