@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.nav {
  @apply fixed top-0 left-0 right-0
        bg-background text-primaryText py-6
        flex items-center justify-between;
}
.bg-custom {
  background-image: url('../src/assets/images/WarWithinbg.jpeg');
  background-size: cover;
  background-position: center;
}

/* Search Component Styles */
.label {
  @apply text-primaryText font-secondary my-2;
}
.input {
  @apply bg-white font-primary
        px-4 py-1 rounded-lg mx-4 my-1;
}

/* Ladder component styles */
.button {
  @apply bg-accent text-primaryText font-primary
        px-4 py-1 rounded-lg mx-4;
}


.footer {
  @apply bg-background text-primaryText text-center py-4
         fixed bottom-0 left-0 right-0;
}

.li-nav {
  @apply text-primaryText font-secondary mx-2;
} 